<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  {% include head.html %}
  {% include navigation.html %}

  <br />
  <br />
  <div class="containter-fluid text-left">
    <div class="row">
      <div class="col-sm-4">
      {% for page in site.pages %}
        {% if page.section-type == "timeline" %}
          <!-- {{ page.title }} Section -->
          <section id="{{ page.title }}">
            {{ page.content | markdownify }}
            <ul class="timeline">
              {% for post in site.posts %}
                {% assign loopindex = forloop.index | modulo: 2 %}
                {% capture class %}
                  [>{% if loopindex == 0 %}<]
                    [>timeline-inverted<]
                  [>{% endif %}<]
                {% endcapture %}
                <li class="timeline-inverted">
                    <div class="timeline-image">
                        <img class="img-circle img-responsive" src="{{ site.baseurl }}/{% if post.image %}{{ post.image }}{% else %}{{site.career-img}}{% endif %}" alt="">
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>{{ post.title }}</h4>
                            <h4 class="subheading">{{ post.subtitle }}</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">{{ post.content }}</p>
                        </div>
                    </div>
                </li>
              {% endfor %}
            </ul>
          </section>
        {% endif %}
      {% endfor %}
    </div>
    <div class="col-lg-8 border-left border-white">
      {% for page in site.pages %}
        {% if page.section-type == "default" %}
          {{ page.content | markdownify }}
        {% endif %}
      {% endfor %}
    </div>
  </div>
  {% include footer.html %}
  {% include js.html %}
</html>
